.form {
  width: 60vw;
  height: 70vh;
  max-height: 70vh;
  @media screen and (max-width: 600px) {
    width: 90vw;
  }
}

selectedcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid rgb(150, 147, 147);
  border-radius: 10px;
  outline-color: rgb(137, 137, 137);
}
:host {
  display: block;
  animation: fadeInDialog 250ms ease-out forwards;
}

.cdk-dialog-container {
  animation: fadeInDialog 250ms ease-out forwards;
}

.cdk-dialog-container.dialog-exit {
  animation: fadeOutDialog 200ms ease-in forwards;
}

@keyframes bounce {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 23px;
  }
}
@keyframes fadeInDialog {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOutDialog {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}
