@if (isloading() ) {
<div class="form box bg-white flex justify-center items-center">
  <app-loader></app-loader>
</div>
}@else {

<div class="form box font-text p-5 bg-white rounded-3xl flex flex-col gap-5">
  <form
    [formGroup]="form"
    (submit)="onSubmit()"
    class="grid grid-cols-1 md:grid-cols-3 overflow-scroll lg:overflow-hidden gap-5 p-5"
  >
    <div
      class="col-span-1 flex flex-col gap-5 p-5 border border-slate-300 rounded-2xl"
    >
      <div class="flex flex-col gap-3">
        <span class="font-title">Choose Pokemon</span>
        <select
          (change)="changeEditPokemon($event)"
          formControlName="pokemonId"
        >
          <button>
            <selectedcontent></selectedcontent>
          </button>

          @for (pokemon of allPokemon(); track $index) {
          <option [value]="pokemon.id">
            <img
              [src]="'sprites/' + getformatedName(pokemon.id) + 'MS.png'"
              [alt]="getformatedName(pokemon.id)"
              class="size-12"
            />
            <span>{{ pokemon.name.english }}</span>
          </option>
          }
        </select>
      </div>
      <img
        [src]="
          imagePokemon !== ''
            ? 'images_pok/' + getformatedName(imagePokemon) + '.png'
            : '/choosepokemon.png'
        "
        alt="pokemon"
        class="size-32 self-center"
      />
      <div class="grid grid-cols-2 gap-5">
        <div class="flex flex-col gap-2">
          <span class="font-title">TYPES</span>
          <div class="grid grid-cols-2 gap-2">
            @for (type of typesPokemon(); track $index) {
            <span
              class="text-center px-4 py-2 rounded-3xl border border-slate-300"
            >
              {{ type }} </span
            >}
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <span class="font-title">ITEM</span>
          <select formControlName="item" name="item" id="">
            @for (item of allItems(); track $index) {
            <option [value]="item.id">{{ item.name.english }}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div
      class="col-span-2 border border-slate-300 rounded-2xl p-5 flex flex-col gap-5"
    >
      <div>
        <span class="font-title">MOVE SET</span>
        <div class="grid grid-cols-2 gap-5" formGroupName="moves">
          @for (item of indices(); track $index) {
          <div class="flex flex-col gap-2">
            <select
              class="px-2 py-1 flex flex-row gap-2 justify-center rounded-3xl border border-slate-300 text-muted text-secondary"
              name=""
              id=""
              [formControlName]="'move' + (item + 1)"
            >
              @for (move of allMoves(); track $index) {
              <option [value]="move.ename">
                <span>{{ move.ename }}</span>
              </option>
              }
            </select>
          </div>
          }
        </div>
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5"
      >
        <div class="flex flex-col" formGroupName="IVS">
          <div class="flex flex-row items-center gap-5">
            <h3 class="font-title">IVs</h3>
            <span class="px-2 py-1 rounded-full bg-slate-100">Max: 31.</span>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("HP")?.hasError("max") &&
              form.get("IVS")?.get("HP")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>HP</span>

                <input
                  formControlName="HP"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("ATK")?.hasError("max") &&
              form.get("IVS")?.get("ATK")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>ATK</span>

                <input
                  formControlName="ATK"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("DEF")?.hasError("max") &&
              form.get("IVS")?.get("DEF")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>DEF</span>

                <input
                  formControlName="DEF"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("SPATK")?.hasError("max") &&
              form.get("IVS")?.get("SPATK")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>SPATK</span>
                <input
                  formControlName="SPATK"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("SPDEF")?.hasError("max") &&
              form.get("IVS")?.get("SPDEF")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>SPDEF</span>
                <input
                  formControlName="SPDEF"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("IVS")?.get("VEL")?.hasError("max") &&
              form.get("IVS")?.get("VEL")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 31
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>VEL</span>
                <input
                  formControlName="VEL"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col" formGroupName="EVS">
          <div class="flex flex-row gap-2 items-center">
            <h3 class="font-title">EVs</h3>
            <span class="px-2 py-1 rounded-full bg-slate-100"
              >Total: {{ this.totalEvsReamining() }}.</span
            >
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("HP")?.hasError("max") &&
              form.get("EVS")?.get("HP")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>HP</span>

                <input
                  formControlName="HP"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("ATK")?.hasError("max") &&
              form.get("EVS")?.get("ATK")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>ATK</span>

                <input
                  formControlName="ATK"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("DEF")?.hasError("max") &&
              form.get("EVS")?.get("DEF")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>DEF</span>

                <input
                  formControlName="DEF"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("SPATK")?.hasError("max") &&
              form.get("EVS")?.get("SPATK")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>SPATK</span>
                <input
                  formControlName="SPATK"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("SPDEF")?.hasError("max") &&
              form.get("EVS")?.get("SPDEF")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>SPDEF</span>
                <input
                  formControlName="SPDEF"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @if (form.get("EVS")?.get("VEL")?.hasError("max") &&
              form.get("EVS")?.get("VEL")?.touched) {
              <small class="text-red-600 self-end"
                >the value must be max. 255
              </small>
              }
              <div class="flex flex-row justify-between items-center gap-1">
                <span>VEL</span>
                <input
                  formControlName="VEL"
                  type="number"
                  class="form-control"
                  name="ds"
                  id="ds"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-full grid grid-cols-2 md:grid-cols-2 gap-5">
          <button
            type="submit"
            class="btn-iniciar bg-yellow-400 px-3 py-2 border border-slate-300 rounded-3xl"
          >
            Save
          </button>
          <button
            (click)="resetForm()"
            type="button"
            class="btn-iniciar bg-yellow-400 px-3 py-2 border border-slate-300 rounded-3xl"
          >
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
}
