<div class="relative form p-5 border-pixel bg-white flex flex-col gap-5">
  <div class="flex flex-row items-center justify-between">
    <p>Edit a rule</p>
    <button
      (click)="CloseModal()"
      class="btn-iniciar px-3 py-2 bg-red-600 w-fit"
    >
      Close
    </button>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()">
    <fieldset class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <label for="" class="font-title">Title</label>
        <input
          formControlName="title"
          type="text"
          name="title"
          class="border-pixel-input p-2"
        />
        @if (form.get('title')?.hasError('required') &&
        form.get('title')?.touched) {
        <small class="text-red-500">Title is required.</small>
        } @else if (form.get('title')?.hasError('maxlength') &&
        form.get('title')?.touched) {
        <small class="text-red-500">Max 15 characters.</small>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="" class="font-title">Description</label>
        <textarea
          formControlName="description"
          type="text"
          name="description"
          class="border-pixel-input p-2"
        ></textarea>
        @if (form.get('description')?.hasError('required') &&
        form.get('description')?.touched) {
        <small class="text-red-500">Description is required.</small>
        } @if (form.get('description')?.hasError('minlength') &&
        form.get('description')?.touched) {
        <small class="text-red-500">Min 15 characters.</small>
        }
      </div>
      <button class="btn-iniciar px-3 py-2 bg-blue-600">Save</button>
    </fieldset>
  </form>
  <img
    src="/images/pikachu.gif"
    alt=""
    class="absolute size-24 inset-0 -inset-y-14 -z-10"
  />
</div>
