<div
  class="form p-5 bg-white border border-slate-300 rounded-3xl flex flex-col gap-5"
>
  <span class="text-sm font-medium text-gray-500"
    >Formulario para crear un locke.</span
  >
  <div class="grid grid-cols-2 gap-5">
    <img
      src="/images/pc/gifs/gyratina.gif"
      alt="pue image"
      class="size-full object-contain"
    />
    <form class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <label for="" class="text-sm">Nombre del locke</label>
        <input type="text" class="border-gray-400 p-5" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="" class="text-sm">Descripcion del locke</label>
        <textarea class="border border-gray-400 rounded-2xl p-5"></textarea>
      </div>
      <div class="flex flex-col gap-2">
        <label for="" class="text-sm">Numero de vidas</label>
        <input type="number" class="border border-gray-400 p-5" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="" class="text-sm"
          >Seleccione el grupo que se asignara el locke</label
        >
        <select name="" id="">
          @for (group of data.groups; track $index) {
          <option [value]="group.id">{{ group.name }}</option>
          }
        </select>
      </div>
      <button
        type="submit"
        class="btn-iniciar px-3 py-2 rounded-3xl border border-slate-300"
      >
        Crear Locke
      </button>
    </form>
  </div>
</div>
