@if (!users().length) {
<app-loader class="flex justify-center-safe"></app-loader>
} @else {
<div class="p-3 flex flex-col">
  <span class="font-title text-2xl">Clasificación </span>
  <div class="mt-6 flex flex-row gap-5">
    <button
      (click)="showMyGroups()"
      class="btn-iniciar px-3 py-2 rounded-3xl border border-slate-300"
    >
      Mis grupos
    </button>
    <button
      (click)="showOtherGroups()"
      class="btn-iniciar px-3 py-2 rounded-3xl border border-slate-300"
    >
      Grupos unidos
    </button>
  </div>

  @if (isMyGrouposShowed) {
  <div class="flex flex-col gap-2">
    <button
      (click)="clickModal()"
      class="btn-iniciar px-3 py-2 rounded-3xl self-end"
    >
      Crear grupo
    </button>
    <app-user-select [users]="users"></app-user-select>

    <div class="group-container flex flex-row">
      @for (group of groups(); track $index) {
      <button
        (click)="getGroupSelected(group)"
        class="px-3 py-2 border border-x-0 border-t-0 border-b-slate-300 hover:border-b-slate-400"
      >
        {{ group["name"] }}
      </button>
      }
    </div>
    <div>
      @if (groupSelected()) {
      <h2>{{ groupSelected().name }}</h2>
      <app-table-clasification
        [groupSelected]="groupSelected()"
      ></app-table-clasification>
      }
    </div>
  </div>
  } @if (isOtherGrouposShowed) {
  <div>otros grupos</div>
  }
</div>
}
