@if (!users().length) {
<app-loader class="flex justify-center-safe"></app-loader>
}@else if(!groups() && !groupSelected()){
<div>no hay datos</div>
} @else {
<div class="p-3 flex flex-col">
  <span class="font-title gradient text-2xl">Clasificación </span>
  <div class="mt-6 flex flex-row gap-5">
    <button
      (click)="showMyGroups()"
      class="btn-iniciar px-3 py-2 rounded-3xl border border-slate-300"
    >
      Mis grupos
    </button>
    <button
      (click)="showOtherGroups()"
      class="btn-iniciar px-3 py-2 rounded-3xl border border-slate-300"
    >
      Grupos unidos
    </button>
  </div>

  @if (isMyGrouposShowed) {
  <div
    class="mt-5 py-5 flex flex-col gap-2 border border-slate-300 border-x-0 border-b-0"
  >
    <button
      (click)="clickModal()"
      class="btn-iniciar px-3 py-2 border border-slate-300 rounded-3xl self-end"
    >
      Crear grupo
    </button>

    <div class="group-container flex flex-row">
      @for (group of groups(); track $index) {
      <button
        (click)="getGroupSelected(group)"
        class="px-3 py-2 border border-x-0 border-t-0 border-b-slate-300 hover:border-b-slate-400"
      >
        {{ group["name"] }}
      </button>
      }
    </div>
    <div>
      @if (groupSelected()) {
      <h2 class="text-3xl font-bold">{{ groupSelected().name }}</h2>
      <app-user-select [users]="users"></app-user-select>
      <app-table-clasification
        [groupSelected]="groupSelected()"
      ></app-table-clasification>
      }
    </div>
  </div>
  } @if (isOtherGrouposShowed) {
  <div
    class="mt-5 py-5 flex flex-col gap-2 border border-slate-300 border-x-0 border-b-0"
  >
    Otro grupillo
  </div>
  }
</div>
}
