<div
  class="menu-icon place-self-center border-pixel bg-white hover:bg-amber-400"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="size-12 gradient"
    viewBox="0 0 24 24"
  >
    <rect width="24" height="24" fill="none" />
    <path fill="currentColor" d="M15.503 13.502H9.502v2h6.001z" />
    <path
      fill="currentColor"
      d="M22.505 10.501v-2h-1v-2h-1v-1h-1V4.5h-4.002v1H9.502v-1H5.5v1h-1v1h-1v2h-1v2.001h-1v8.002h1v1h3v-1h1.001v-1h1v-1h1v-3.001h1v-1h6.002v1h1v3h1v1.001h1v1h1.001v1h3v-1h1.001v-8.002zm-17.004-2v-1h1v-1h1v1h1v1h1v1h-1v1h-1v1h-1v-1h-1v-1h-1v-1zm8.002 1h-1v1h-1v-1h-1.001v-1h1v-1h1v1h1zm7.001 1h-2v2h-2v-2h-2.001v-2h2v-2h2v2h2.001z"
    />
    <path fill="currentColor" d="M18.504 8.501h-2v2h2z" />
  </svg>
  <div class="menu border-pixel-card">
    <div class="grid grid-cols-2 size-full">
      <div class="p-5 overflow-hidden">
        <a
          routerLink="/lockes"
          class="menu-element border-pixel bg-white size-full flex flex-row gap-2 items-center"
        >
          <div class="pokemon-menu-lockes"></div>
          <span class="font-title">Lockes</span>
        </a>
      </div>
      <div class="p-5 overflow-hidden">
        <a
          routerLink="/profile"
          class="menu-element border-pixel bg-white size-full flex flex-row gap-2 items-center"
        >
          <div class="pokemon-menu-ranking"></div>
          <span class="font-title">Community</span>
        </a>
      </div>
      <div class="p-5 overflow-hidden">
        <a
          routerLink="/profile"
          class="menu-element border-pixel bg-white size-full flex flex-row gap-2 items-center"
        >
          <div class="pokemon-menu-profile"></div>
          <span class="font-title">Profile</span>
        </a>
      </div>
      <div class="p-5 overflow-hidden">
        <a
          routerLink="/"
          class="menu-element border-pixel bg-white size-full flex flex-row gap-2 items-center"
        >
          <div class="pokemon-menu-exit"></div>
          <span class="font-title">Exit</span>
        </a>
      </div>
    </div>
  </div>
</div>
