.menu {
  position: absolute;
  top: 0;
  display: none;
  bottom: 0;
  translate: -46% 20%;
  animation: dissapearMenu 200ms ease-in forwards;
  width: 600px;
  height: 200px;

  background: url("/images/banner_menu.jpeg") no-repeat center;
  background-size: cover;
}
.menu-icon {
  position: relative;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-element {
  overflow: hidden;
}
.menu-icon:hover .menu {
  display: flex;
  animation: appearMenu 200ms ease-in forwards;
}
[class*="pokemon-menu"] {
  width: 120px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu .pokemon-menu-lockes {
  background-image: url("/images/pc/pngs/raichu.png");
}
.menu .pokemon-menu-ranking {
  background-image: url("/images/pc/pngs/pokeball.jpeg");
}
.menu .pokemon-menu-profile {
  background-image: url("/images/pc/pngs/trianer.jpeg");
  background-position: top center;
}
.menu .pokemon-menu-exit {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><rect width="32" height="32" fill="none"/><path fill="black" d="M29.71 3.81h1.53v24.38h-1.53Zm-1.52 24.38h1.52v1.52h-1.52Zm0-25.91h1.52v1.53h-1.52ZM3.81 29.71h24.38v1.53H3.81Zm21.33-9.14H6.86v1.52H5.33v3.05h1.53v-1.52h18.28v1.52h1.53v-3.05h-1.53zm0-7.62H6.86v1.52H5.33v3.05h1.53V16h18.28v1.52h1.53v-3.05h-1.53zm0-7.62H6.86v1.52H5.33V9.9h1.53V8.38h18.28V9.9h1.53V6.85h-1.53zM6.86 25.14h18.28v1.52H6.86Zm0-7.62h18.28v1.52H6.86Zm0-7.62h18.28v1.53H6.86ZM3.81.76h24.38v1.52H3.81ZM2.29 28.19h1.52v1.52H2.29Zm0-25.91h1.52v1.53H2.29ZM.76 3.81h1.53v24.38H.76Z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-element:hover .pokemon-menu-lockes {
  background-image: url("/images/pc/gifs/raichu.gif");
}
/*.menu-element:hover .pokemon-menu-ranking {
  background-image: url("/images/pc/gifs/dratini.gif");
}*/
.menu-element:hover .pokemon-menu-profile {
  background-image: url("/images/pc/gifs/trainer.gif");
}
@keyframes appearMenu {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translateY(20px);
  }
}
@keyframes dissapearMenu {
  from {
    opacity: 1;

    transform: translateY(20px);
  }
  to {
    opacity: 0;

    transform: translateY(0);
  }
}
