.menu {
  position: absolute;
  top: 0;
  display: none;
  z-index: 50;
  bottom: 0;
  translate: -46% 20%;
  animation: dissapearMenu 200ms ease-in forwards;
  width: 600px;
  height: 200px;

  background: url("/images/banner_menu.jpeg") no-repeat center;
  background-size: cover;
}
.menu-icon {
  position: relative;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-element {
  overflow: hidden;
  &:hover {
    background-color: var(--color-amber-500);
  }
}
.menu-icon:hover .menu {
  display: flex;
  animation: appearMenu 200ms ease-in forwards;
}
[class*="pokemon-menu"] {
  width: 120px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}
.menu .pokemon-menu-lockes {
  background-image: url("/images/pc/pngs/pikachu.jpeg");
  background-position: top center;
}
.menu .pokemon-menu-ranking {
  background-image: url("/images/pc/pngs/pokeball.png");
  background-size: cover;
}
.menu .pokemon-menu-profile {
  background-image: url("/images/pc/pngs/trianer.jpeg");
  background-position: top center;
}
.menu .pokemon-menu-exit {
  background-image: url("/images/salir.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-element:hover .pokemon-menu-lockes {
  background-image: url("/images/pc/gifs/pikachu.gif");
}
/*.menu-element:hover .pokemon-menu-ranking {
  background-image: url("/images/pc/gifs/dratini.gif");
}*/
.menu-element:hover .pokemon-menu-profile {
  background-image: url("/images/pc/gifs/trainer.gif");
}
@keyframes appearMenu {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translateY(20px);
  }
}
@keyframes dissapearMenu {
  from {
    opacity: 1;

    transform: translateY(20px);
  }
  to {
    opacity: 0;

    transform: translateY(0);
  }
}
