@if ( lockes() === null ) {
<app-loader class="flex justify-center"></app-loader>
} @else if (!lockes() || !lockes()?.length) {
<div>No hay datos</div>
} @else {
<div class="p-2 md:p-5 flex flex-col gap-5">
  <span class="font-title gradient text-2xl">Your best Lockes </span>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
    @for (locke of lockes(); track $index) {
    <a
      [routerLink]="'/locke/' + locke.locke_id"
      class="border-pixel p-5 flex flex-col bg-white"
    >
      <h3 class="text-2xl font-semibold">{{ locke.locke.name }}</h3>
      <div class="flex flex-row flex-wrap gap-2">
        @for (pokemon of locke.team; track $index) {<img
          [src]="'sprites/' + getFormatted(pokemon) + 'MS.png'"
          [alt]="pokemon"
          class="size-10"
        />
        }
      </div>
      <div
        class="health flex flex-row gap-2 items-center font-title self-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="red"
            d="M23 6v5h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1H1V6h1V5h1V4h1V3h6v1h1v1h2V4h1V3h6v1h1v1h1v1z"
          />
        </svg>

        <span class="text-red-600"
          >{{ locke.lifes }} / {{ locke.locke.lifes }}</span
        >
      </div>
    </a>

    }
  </div>
</div>
}
