img {
  width: 50px;
  height: 50px;
  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
  }
}
[class^="card-"] {
  background: white;
  opacity: 0;
  transform: translateY(-100px);
  animation: appear 1s ease forwards;
}
.card-lifes {
  animation-delay: 0.25s;
}
.card-status {
  animation-delay: 0.5s;
}
.card-tournaments {
  animation-delay: 0.75s;
}
.card-event {
  animation-delay: 1s;
}
.alert-event {
  animation: scala 1s ease-in-out infinite alternate;
}
@keyframes appear {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scala {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-20px) scale(2);
  }
}
