<main class="flex flex-col gap-10 min-h-screen">
  @if (!generalInfo()) {
  <app-loader class="flex justify-center items-center h-full"></app-loader>
  }@else {
  <section class="mt-24 lg:mt-0 flex flex-col gap-5">
    <div class="flex flex-row justify-between items-center">
      <h2 class="font-title gradient text-7xl">Summary</h2>
      <button
        (click)="openModalEditLocke()"
        title="edit general info"
        class="btn-iniciar px-2 py-1 border-pixel bg-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M18 2h-2v2h2zM4 4h6v2H4v14h14v-6h2v8H2V4zm4 8H6v6h6v-2h2v-2h-2v2H8zm4-2h-2v2H8v-2h2V8h2V6h2v2h-2zm2-6h2v2h-2zm4 0h2v2h2v2h-2v2h-2v2h-2v-2h2V8h2V6h-2zm-4 8h2v2h-2z"
          />
        </svg>
      </button>
    </div>
    <div class="w-full">
      <!-- Bento Grid Layout -->
      <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-5 h-auto">
        <!-- Card del Jugador Líder - MÁS GRANDE Y PROMINENTE -->
        <div
          class="card-leader md:col-span-2 lg:col-span-2 md:row-span-1 border-pixel-leader bg-amber-200"
        >
          <div class="p-4">
            <!-- Header de la card -->
            <div class="flex justify-between items-center mb-4">
              <span class="text-xl font-title">Leader</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-yellow-500"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M23 7v2h-1v1h-1v4h-1v3h-1v2h-1v2H6v-2H5v-2H4v-3H3v-4H2V9H1V7h1V6h2v1h1v2H4v1h1v1h1v1h2v-1h1V9h1V7h1V6h-1V4h1V3h2v1h1v2h-1v1h1v2h1v2h1v1h2v-1h1v-1h1V9h-1V7h1V6h2v1z"
                />
              </svg>
            </div>

            <!-- Contenido principal -->
            <div class="space-y-4">
              <div>
                <div class="text-xl font-title font-bold text-yellow-700 mb-2">
                  Danibreadd
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card de Vidas - Tamaño mediano -->
        <div
          class="card-lifes md:col-span-2 lg:col-span-2 border-pixel-lifes overflow-hidden bg-red-200"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl font-title">Lifes</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-red-600"
                viewBox="0 0 24 24"
              >
                <rect width="24" height="24" fill="none" />
                <path
                  fill="currentColor"
                  d="M23 6v5h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1H1V6h1V5h1V4h1V3h6v1h1v1h2V4h1V3h6v1h1v1h1v1z"
                />
              </svg>
            </div>

            <div class="text-8xl font-bold text-red-700 mb-3 font-title">
              {{ generalInfo().lifes }}
            </div>
          </div>
        </div>

        <!-- Card de Estado del Locke - Tamaño pequeño -->
        <div
          class="card-status md:col-span-2 lg:col-span-2 border-pixel-status bg-green-200 overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl font-title">Status</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-emerald-500"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M4 2h14v2H4v16h2v-6h12v6h2V6h2v16H2V2zm4 18h8v-4H8zM20 6h-2V4h2zM6 6h9v4H6z"
                />
              </svg>
            </div>

            <div class="font-title text-xl font-bold text-green-700 mb-2">
              {{ generalInfo().status }} locke
            </div>
          </div>
        </div>

        <!-- Card de Torneos - Tamaño mediano -->
        <div
          class="card-tournaments md:col-span-2 lg:col-span-3 border-pixel-tournament bg-blue-200 overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl font-title">Tournaments</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-blue-500"
                viewBox="0 0 24 24"
              >
                <rect width="24" height="24" fill="none" />
                <path
                  fill="currentColor"
                  d="M18 4V2H6v2H1v5h1v2h1v1h1v1h1v1h1v1h3v1h2v3H7v3h10v-3h-4v-3h2v-1h3v-1h1v-1h1v-1h1v-1h1V9h1V4zM5 12v-1H4V9H3V6h2v1h1v2h1v3h1v1H6v-1zm16-3h-1v2h-1v1h-1v1h-2v-1h1v-2h1V7h1V6h2z"
                />
              </svg>
            </div>

            <div class="text-8xl font-title font-bold text-blue-700 mb-3">
              {{ generalInfo().tournaments }}
            </div>

            <!-- Gimnasios completados -->

            <!-- Barra de progreso -->
          </div>
        </div>

        <!-- Card de Próximo Objetivo - Tamaño pequeño -->
        <div
          class="card-event md:col-span-2 lg:col-span-3 border-pixel-event bg-purple-200 overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl font-title">Next event</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-purple-400"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M6 4h2v2h2v2h2v2h2v4h-2v2h-2v2H8v2H6zm12 0h-2v16h2z"
                />
              </svg>
            </div>
            @if (!generalInfo().next_event) {
            <div class="font-title text-lg font-bold text-purple-700 mb-2">
              <p class="text-2xl font-semibold">Choose your next Event.</p>
            </div>
            } @else {
            <div class="font-title text-lg font-bold text-purple-700 mb-2">
              <p class="text-2xl font-semibold">
                {{ generalInfo().next_event }}
              </p>
            </div>

            }
          </div>
        </div>
      </div>

      <!-- Sección adicional más compacta -->
      @if (generalInfo().announcement) {
      <div class="mt-10">
        <div class="relative z-20 border-pixel bg-white">
          <div class="p-6 flex flex-col gap-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="alert-event size-8 text-amber-500 absolute z-50 inset-0 -inset-x-2 -inset-y-2"
              viewBox="0 0 24 24"
            >
              <rect width="24" height="24" fill="none" />
              <path
                fill="currentColor"
                d="M7 5V4H5v2H3v14h14V6h-2V4h-2v2H7zm-2 5V8h10v2zm0 2h10v6H5zm16-3V8h-2v6h2zm0 6h-2v2h2z"
              />
            </svg>

            <h3 class="font-title text-3xl">
              {{ generalInfo().announcement.title }}
            </h3>
            <p class="text-base text-gray-700">
              {{ generalInfo().announcement.description }}
            </p>
            <div class="flex flex-row gap-2 items-center">
              @for (rule of generalInfo().announcement.rules; track $index)
              {<span
                class="border border-gray-300 px-2 py-1 rounded-2xl text-gray-700"
                >{{ rule }}</span
              >}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
  }
</main>
