<div class="relative z-10 flex flex-col gap-10">
  @if (!generalInfo()) {
  <app-loader class="flex justify-center-safe"></app-loader>
  }@else {
  <section class="flex flex-col gap-5">
    <div class="flex flex-row justify-between items-center">
      <h2 class="font-title gradient text-7xl">General</h2>
      <button
        title="edit general info"
        class="btn-iniciar px-2 py-1 border border-slate-300 rounded-2xl"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M18 2h-2v2h2zM4 4h6v2H4v14h14v-6h2v8H2V4zm4 8H6v6h6v-2h2v-2h-2v2H8zm4-2h-2v2H8v-2h2V8h2V6h2v2h-2zm2-6h2v2h-2zm4 0h2v2h2v2h-2v2h-2v2h-2v-2h2V8h2V6h-2zm-4 8h2v2h-2z"
          />
        </svg>
      </button>
    </div>
    <div class="w-full">
      <!-- Bento Grid Layout -->
      <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-4 h-auto">
        <!-- Card del Jugador Líder - MÁS GRANDE Y PROMINENTE -->
        <div
          class="md:col-span-2 lg:col-span-2 md:row-span-1 border-4 border-yellow-300 rounded-lg"
        >
          <div class="p-4">
            <!-- Header de la card -->
            <div class="flex justify-between items-center mb-4">
              <span class="text-xl text-yellow-400">Leader</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-yellow-500"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M23 7v2h-1v1h-1v4h-1v3h-1v2h-1v2H6v-2H5v-2H4v-3H3v-4H2V9H1V7h1V6h2v1h1v2H4v1h1v1h1v1h2v-1h1V9h1V7h1V6h-1V4h1V3h2v1h1v2h-1v1h1v2h1v2h1v1h2v-1h1v-1h1V9h-1V7h1V6h2v1z"
                />
              </svg>
            </div>

            <!-- Contenido principal -->
            <div class="space-y-4">
              <div>
                <div class="text-xl font-title font-bold text-yellow-700 mb-2">
                  Danibreadd
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card de Vidas - Tamaño mediano -->
        <div
          class="md:col-span-2 lg:col-span-2 border-4 border-red-500 rounded-lg overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl text-red-500">Lifes</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-red-600"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z"
                />
              </svg>
            </div>

            <div class="text-8xl font-bold text-red-700 mb-3 font-title">
              {{ generalInfo().lifes }}
            </div>
          </div>
        </div>

        <!-- Card de Estado del Locke - Tamaño pequeño -->
        <div
          class="md:col-span-2 lg:col-span-2 border-4 border-green-200 bg-white rounded-lg overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl text-green-500">Status</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-emerald-500"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M4 2h14v2H4v16h2v-6h12v6h2V6h2v16H2V2zm4 18h8v-4H8zM20 6h-2V4h2zM6 6h9v4H6z"
                />
              </svg>
            </div>

            <div class="font-title text-xl font-bold text-green-700 mb-2">
              {{ generalInfo().status }} locke
            </div>
          </div>
        </div>

        <!-- Card de Torneos - Tamaño mediano -->
        <div
          class="md:col-span-2 lg:col-span-3 border-4 border-blue-200 rounded-lg overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl text-blue-400">Tournaments</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-blue-500"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M16 3H6v2H2v10h6V5h8v10h6V5h-4V3zm4 4v6h-2V7zM6 13H4V7h2zm12 2H6v2h12zm-7 2h2v2h3v2H8v-2h3z"
                />
              </svg>
            </div>

            <div class="text-8xl font-title font-bold text-blue-700 mb-3">
              {{ generalInfo().tournaments }}
            </div>

            <!-- Gimnasios completados -->

            <!-- Barra de progreso -->
          </div>
        </div>

        <!-- Card de Próximo Objetivo - Tamaño pequeño -->
        <div
          class="md:col-span-2 lg:col-span-3 border-4 border-purple-200 rounded-lg overflow-hidden"
        >
          <div class="p-4">
            <div class="flex items-center justify-between mb-3">
              <span class="text-xl text-purple-400">Next event</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-12 text-purple-400"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M6 4h2v2h2v2h2v2h2v4h-2v2h-2v2H8v2H6zm12 0h-2v16h2z"
                />
              </svg>
            </div>

            <div class="font-title text-lg font-bold text-purple-700 mb-2">
              {{ generalInfo().next_event.title }}
            </div>

            <p
              class="text-base border px-2 py-1 w-fit border-gray-300 text-gray-600"
            >
              Level Cap {{ generalInfo().next_event.level_cap }}
            </p>
          </div>
        </div>
      </div>

      <!-- Sección adicional más compacta -->
      <div class="mt-10">
        <div class="relative z-20 border-2 border-gray-200 rounded-lg bg-white">
          <div class="p-6 flex flex-col gap-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-12 text-amber-500 absolute z-50 inset-0 -inset-x-6 -inset-y-7"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M22 2H2v12h2V4h16v10h2zM6 14H4v2h2zm0 2h2v2h2v2H8v-2H6zm4 4v2h4v-2h2v-2h-2v2zm10-6h-2v2h-2v2h2v-2h2z"
              />
            </svg>

            <h3 class="font-title text-3xl">new Tournament</h3>
            <p class="text-base text-gray-700">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
              numquam quaerat adipisci labore eum unde delectus ipsum laudantium
              id ratione architecto, quidem magni repellat hic sit vero,
              cupiditate, incidunt dolores?
            </p>
            <div class="flex flex-row gap-2 items-center">
              <span
                class="border border-gray-300 px-2 py-1 rounded-2xl text-gray-700"
                >23-03-2025</span
              >
              <span
                class="border border-gray-300 px-2 py-1 rounded-2xl text-gray-700"
                >Level Cap 50</span
              >
              <span
                class="border border-gray-300 px-2 py-1 rounded-2xl text-gray-700"
                >VGC</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-10">
    <h2 class="font-title gradient text-7xl">Miembros</h2>

    @for (user of lockeUsersInfo(); track $index) {
    <app-locke-user-info
      [user]="user"
      [userInfo]="getInfoUser(user)"
      (onOpenModalEditPokemon)="openModalEditPokemon($event)"
    ></app-locke-user-info>
    }
  </section>
  }
</div>
