<section class="py-5 grid grid-cols-2 gap-5 locke-section">
  @for (locke of lockeList; track $index) {
  <article class="flex flex-col">
    <a [routerLink]="'/locke/' + locke.id">
      <div
        class="locke-card p-3 border border-slate-300 rounded-3xl flex flex-col gap-2"
      >
        <div
          class="flex flex-row flex-wrap gap-2 md:gap-5 justify-between items-center"
        >
          <div class="flex flex-row gap-3 items-center font-title">
            <span class="text-muted text-secondary"> {{ locke.name }} </span>
            <div class="health flex flex-row gap-2 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="red"
                  d="M23 6v5h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1H1V6h1V5h1V4h1V3h6v1h1v1h2V4h1V3h6v1h1v1h1v1z"
                />
              </svg>

              <span class="text-danger text-secondary">13</span>
            </div>
          </div>

          <div
            class="flex flex-row items-center gap-3 text-muted text-secondary"
          >
            <div
              class="relative"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="This top tooltip is themed via CSS variables."
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#000"
                  d="M18 4V2H6v2H1v5h1v2h1v1h1v1h1v1h1v1h3v1h2v3H7v3h10v-3h-4v-3h2v-1h3v-1h1v-1h1v-1h1v-1h1V9h1V4zM8 13H6v-1H5v-1H4V9H3V6h2v1h1v2h1v3h1zm0-4V4h8v5h-1v3h-1v2h-4v-2H9V9zm12 0v2h-1v1h-1v1h-2v-1h1v-2h1V7h1V6h2v3z"
                />
              </svg>
              <div class="point-status"></div>
            </div>
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Locke sin completar"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#d8e30e"
                  d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12q0-2.1.775-3.912T4.9 4.9L12 12V2q2.075 0 3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div
            class="team flex flex-row justify-center flex-wrap gap-2 items-center font-title"
          >
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png"
              alt=""
            />
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/391.png"
              alt=""
            />
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/389.png"
              alt=""
            />
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/470.png"
              alt=""
            />
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png"
              alt=""
            />
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png"
              alt=""
            />
          </div>
          <div class="icons-group self-end flex flex-row gap-1 items-center">
            <img src="/images/icon discord.webp" class="img-fluid" />
            <img src="/images/icon discord.webp" class="img-fluid" />
            <img src="/images/icon discord.webp" class="img-fluid" />
          </div>
        </div>
      </div>
    </a>
  </article>
  }
</section>
