.form {
  width: 500px;
  height: fit-content;
}
input {
  padding: 10px;
  outline: 0;
}
:host {
  display: block;
  animation: fadeInDialog 250ms ease-out forwards;
}

.cdk-dialog-container {
  animation: fadeInDialog 250ms ease-out forwards;
}

.cdk-dialog-container.dialog-exit {
  animation: fadeOutDialog 200ms ease-in forwards;
}

@keyframes fadeInDialog {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOutDialog {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}
