<div class="form font-text p-5 bg-white border-pixel">
  <span class="font-title">Crear grupo</span>
  <div class="mt-2 flex flex-col justify-between">
    <form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-5">
      <input
        type="text"
        placeholder="Nombre del grupo"
        name="name"
        formControlName="name"
        class="border-pixel-input"
      />
      <input
        type="text"
        placeholder="Descripcion del grupo"
        formControlName="description"
        class="border-pixel-input"
      />
      <button
        type="submit"
        [disabled]="!form.valid"
        class="btn-iniciar px-3 py-2 bg-blue-600"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
