/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 1;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;

  border-radius: 50%;

  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(360deg);
  }
}
