/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");
@import "tailwindcss";
@theme {
  --font-title: "Press Start 2P", system-ui;
  --font-text: "Figtree", sans-serif;
}
@view-transition {
  navigation: auto;
}
:root {
  --gradient-primary-color: #ffea00;
  --gradient-secondary-color: #1717f1;
  --blue-color: #3c5aa6;
  --yellow-color: #ffcb05;
  --discord-color: #5663f7;
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient-primary-color: #ffea00;
    --gradient-secondary-color: #1717f1;
    --blue-color: #3c5aa6;
    --yellow-color: #ffcb05;
    --discord-color: #5663f7;
    --bg-color: #353535;
  }
}

.theme-light {
  background-color: white;
}

.theme-dark {
  background-color: #353535;
}
button {
  cursor: pointer;
}
.gradient {
  color: var(--blue-color);
  text-shadow: 2px 2px var(--yellow-color);
}

.border-pixel {
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
}
.border-pixel-card {
  box-shadow: 0px 5px rgb(186, 185, 185), 0px -5px rgb(186, 185, 185),
    5px 0px rgb(186, 185, 185), -5px 0px rgb(186, 185, 185), 0px 5px #00000038,
    5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #e6e6e636;
}
.border-pixel-input {
  box-shadow: 0px 3px rgb(186, 185, 185), 0px -3px rgb(186, 185, 185),
    3px 0px rgb(186, 185, 185), -3px 0px rgb(186, 185, 185), 0px 3px #00000038,
    3px 3px #00000038, -3px 3px #00000038, inset 0px 3px #e6e6e636;
}

.border-pixel-event {
  box-shadow: 0px 5px blueviolet, 0px -5px blueviolet, 5px 0px blueviolet,
    -5px 0px blueviolet, 0px 10px #00000038, 5px 5px #00000038,
    -5px 5px #00000038, inset 0px 5px #ffffff36;
}
.border-pixel-leader {
  box-shadow: 0px 5px var(--yellow-color), 0px -5px var(--yellow-color),
    5px 0px var(--yellow-color), -5px 0px var(--yellow-color),
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
}
.border-pixel-tournament {
  box-shadow: 0px 5px var(--blue-color), 0px -5px var(--blue-color),
    5px 0px var(--blue-color), -5px 0px var(--blue-color), 0px 10px #00000038,
    5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
}
.border-pixel-status {
  box-shadow: 0px 5px green, 0px -5px green, 5px 0px green, -5px 0px green,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
}
.border-pixel-lifes {
  box-shadow: 0px 5px red, 0px -5px red, 5px 0px red, -5px 0px red,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
}

button.btn-iniciar {
  font-family: "Press Start 2P", system-ui;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button.btn-iniciar:hover {
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    inset 0px 5px #00000038;
}
select,
::picker(select) {
  appearance: base-select;
  font: -webkit-small-control;
  bottom: 0;
}

option::checkmark,
select::picker-icon {
  display: none;
}

/* Styling the options list */

::picker(select) {
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0px 12.8px 28.8px rgba(0, 0, 0, 0.13),
    0px 0px 9.2px rgba(0, 0, 0, 0.11);
  border: 1px solid #ececec;
}

select {
  padding: 10px 5px;
  cursor: pointer;
  height: fit-content;
  width: 100%;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  option {
    padding: 5px;
  }
}
.box {
  border-radius: 2px;
  padding: 8px;

  line-height: 16px;
  margin: auto;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}
.box > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}
