@if (!userInfo()) {
<app-loader class="flex justify-center-safe"></app-loader>
} @else {
<div
  class="relative user border-pixel-card p-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
>
  @if (isEditableUser) {
  <div
    class="absolute inset-0 -inset-y-4 inset-x-10 size-fit bg-amber-400 border-pixel px-3 py-1"
  >
    <span class="text-lg font-title gradient">Your Team</span>
  </div>
  }

  <div class="flex flex-row gap-2 items-center">
    <img
      [src]="userInfo()?.avatar_url"
      [alt]="userInfo()?.name"
      class="size-12 rounded-full"
    />
    <span>{{ userInfo()?.name }}</span>
  </div>
  <div class="col-span-2 flex flex-row flex-wrap gap-5 w-full items-center">
    @for (pokemon of user.team; track $index) { @if (isEditableUser) {
    <button
      type="button"
      class="border-pixel-input"
      (click)="emitEditModal($event, pokemon, user.id)"
      title="Click to open edit modal"
    >
      <img
        [src]="'sprites/' + getFormattedName(pokemon) + 'MS.png'"
        [alt]="pokemon"
        class="size-8 sm:size-12 object-contain"
      />
    </button>
    } @else {
    <div class="">
      <img
        [src]="'sprites/' + getFormattedName(pokemon) + 'MS.png'"
        [alt]="pokemon"
        class="size-8 sm:size-12 object-contain"
      />
    </div>
    } } @if (isEditableUser) { @if (getFieldsToAddPokemon() !==0) {
    <button
      (click)="emitAddModal(user.id)"
      class="btn-iniciar"
      title="add pokemon to the team"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-8 sm:size-12 object-contain"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M3 3h8v8H3zm6 6V5H5v4zm9 4h-2v3h-3v2h3v3h2v-3h3v-2h-3zM15 3h6v8h-8V3zm4 6V5h-4v4zM5 13h6v8H3v-8zm4 6v-4H5v4z"
        />
      </svg>
    </button>
    } }
  </div>
  <div class="flex flex-row gap-2 items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="red"
        d="M23 6v5h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1H1V6h1V5h1V4h1V3h6v1h1v1h2V4h1V3h6v1h1v1h1v1z"
      />
    </svg>
    @if (isEditableUser) {
    <input
      title="change lifes"
      type="number"
      [value]="lifes()"
      class="text-red-600 px-2 py-2 font-title rounded-xl hover:outline hover:outline-slate-300"
    />
    <button
      (click)="emitLifes()"
      class="px-3 py-2 rounded-xl hover:outline hover:outline-slate-300"
      title="update lifes"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-8 text-green-500"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M15 6h2v2h-2zm-2 4V8h2v2zm-2 2v-2h2v2zm-2 2v-2h2v2zm-2 2v-2h2v2zm-2 0h2v2H5zm-2-2h2v2H3zm0 0H1v-2h2zm8 2h2v2h-2zm4-2v2h-2v-2zm2-2v2h-2v-2zm2-2v2h-2v-2zm2-2h-2v2h2zm0 0h2V6h-2z"
        />
      </svg>
    </button>
    } @else {
    <span class="font-title text-red-600">{{ lifes() }}</span>
    }
  </div>
</div>
}
