.user {
  animation: appear 0.5s ease-in forwards;
  background: white;
  transition: all 2s ease;
}
input {
  width: 100px;
}
@keyframes appear {
  from {
    width: 50%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
